In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.21.0'

In [24]:
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can  be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets
      - Intuitive merging and joining data sets
      - Flexible reshaping and pivoting of data sets
      - Hierarchical labeling of axes (possible to have multiple labels per tick)
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    stats (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from 'C:\\Progra...\lib\\s...
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from 'C:\\ProgramData\\Anaconda3\\lib\\si...
    lib = <module 'pandas.lib' from 'C:\\ProgramData\\Anaconda3\\lib\\site...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from 'C:\\ProgramData\\Anaconda3\\lib...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from 'C:\\ProgramData\\Anaconda3\\lib\\...

VERSION
    0.21.0

FILE
    c:\programdata\anaconda3\lib\site-packages\pandas\__init__.py

In [25]:
dir(pd)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'Interval',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Panel4D',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseList',
 'SparseSeries',
 'Term',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt64Index',
 'WidePanel',
 '_DeprecatedModule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'errors',
 'eval',
 'ewma',
 'ewmcorr',
 'ewmcov',
 'ewmstd',
 'ewmvar',
 'ewmvol',
 'expanding_apply',
 'expanding_corr',
 'expanding_count',
 'expanding_cov',
 'expanding_kurt',
 'expanding_max',
 'expanding_mean',
 'expanding_median',
 'expanding_min',
 'expanding_quantile',
 'expanding_skew',
 'expanding_std',
 'expanding_sum',
 'expanding_var',
 'factorize',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'ordered_merge',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'plotting',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'rolling_apply',
 'rolling_corr',
 'rolling_count',
 'rolling_cov',
 'rolling_kurt',
 'rolling_max',
 'rolling_mean',
 'rolling_median',
 'rolling_min',
 'rolling_quantile',
 'rolling_skew',
 'rolling_std',
 'rolling_sum',
 'rolling_var',
 'rolling_window',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'stats',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

Data frame objeleri ile çalışmak için uygun,
Farklı dosya tiplerini destekliyor (csv, xls/xlsx, txt, sas, sql, table, html ... ),
Kayıp gözlemler ile (missing values) başa çıkabiliyor,
Dilimleme, indeks işlemleri kolay,
Pivot tablo oluşturulabiliyor,
Zaman serisi olan veriler ile çalışabiliyor.

### Pandas Series Objesi

In [97]:
#float
data = pd.Series([0.25, 0.50, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [98]:
type(data)

pandas.core.series.Series

In [6]:
#int
data = pd.Series([25, 50, 75, 100])
data

0     25
1     50
2     75
3    100
dtype: int64

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data.values

array([ 25,  50,  75, 100], dtype=int64)

In [9]:
data[1]

50

In [10]:
data[1:3]

1    50
2    75
dtype: int64

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data['c']

0.75

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
data[2]

0.25

In [64]:
nufus_dict = {'Ankara': 5750420,
                   'Istanbul': 15475035,
                   'Izmir': 6541025,
                   'Adana': 3450478,
                   'Bursa': 1785634}
nufus = pd.Series(nufus_dict)
nufus

Adana        3450478
Ankara       5750420
Bursa        1785634
Istanbul    15475035
Izmir        6541025
dtype: int64

In [17]:
nufus["Izmir"]

6541025

In [23]:
nufus["Adana":"Bursa"]

Adana     3450478
Ankara    5750420
Bursa     1785634
dtype: int64

### Data Frame

In [ ]:
nufus_dict = {'Ankara': 5750420,
                   'Istanbul': 15475035,
                   'Izmir': 6541025,
                   'Adana': 3450478,
                   'Bursa': 1785634}
nufus = pd.Series(nufus_dict)
nufus

In [65]:
alan_dict = {'Ankara': 125432,
                   'Istanbul': 89547,
                   'Izmir': 25784,
                   'Adana': 21548,
                   'Bursa': 56842}
alan = pd.Series(alan_dict)
alan

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
dtype: int64

In [66]:
alan_nufus_df = pd.DataFrame({'Nufus': nufus,
                       'Alan': alan})
alan_nufus_df

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035
Izmir      25784   6541025

In [99]:
type(alan_nufus_df)

pandas.core.frame.DataFrame

In [29]:
alan_nufus_df.index

Index(['Adana', 'Ankara', 'Bursa', 'Istanbul', 'Izmir'], dtype='object')

In [30]:
alan_nufus_df.columns

Index(['Alan', 'Nufus'], dtype='object')

In [31]:
alan_nufus_df["Alan"]

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [32]:
# pd.DataFrame Yapısı

pd.DataFrame(nufus, columns=['Nufus'])

             Nufus
Adana      3450478
Ankara     5750420
Bursa      1785634
Istanbul  15475035
Izmir      6541025

### İndeks  & Array işlemleri

In [52]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [36]:
'a' in data

True

In [37]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [45]:
data.items()

In [43]:
data.items

<bound method Series.iteritems of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [41]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [47]:
# yeni bir eleman ekleme
data["e"] = 1.25

In [49]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [46]:
# index değerini kullanarak dilimleme
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [54]:
# indeks numarası kullanarak dilimleme
data[0:2]

a    0.25
b    0.50
dtype: float64

### loc & iloc

In [55]:
data[1]

0.5

In [56]:
data[1:3]

b    0.50
c    0.75
dtype: float64

In [58]:
# loc indeks label'ı ile çalışır
data.loc["a"]

0.25

In [60]:
# iloc indeks sırası ile çalışır
data.iloc[1]

0.5

In [61]:
data.iloc[1:3]

b    0.50
c    0.75
dtype: float64

#### DF Sözlük yapısı

In [67]:
alan_nufus_df = pd.DataFrame({'Nufus': nufus,
                       'Alan': alan})
alan_nufus_df

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035
Izmir      25784   6541025

In [70]:
alan_nufus_df["Alan"]

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [69]:
alan_nufus_df.Alan

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [71]:
alan_nufus_df.Alan is alan_nufus_df['Alan']

True

In [72]:
alan_nufus_df['Yogunluk'] = alan_nufus_df['Nufus'] / alan_nufus_df['Alan']
alan_nufus_df

            Alan     Nufus    Yogunluk
Adana      21548   3450478  160.129850
Ankara    125432   5750420   45.844920
Bursa      56842   1785634   31.413990
Istanbul   89547  15475035  172.814667
Izmir      25784   6541025  253.685425

In [100]:
alan_nufus_df.shape

(5, 3)

In [101]:
alan_nufus_df.dtypes

Alan          int64
Nufus         int64
Yogunluk    float64
dtype: object

In [102]:
alan_nufus_df.columns

Index(['Alan', 'Nufus', 'Yogunluk'], dtype='object')

In [73]:
alan_nufus_df.values

array([[  2.15480000e+04,   3.45047800e+06,   1.60129850e+02],
       [  1.25432000e+05,   5.75042000e+06,   4.58449200e+01],
       [  5.68420000e+04,   1.78563400e+06,   3.14139897e+01],
       [  8.95470000e+04,   1.54750350e+07,   1.72814667e+02],
       [  2.57840000e+04,   6.54102500e+06,   2.53685425e+02]])

In [75]:
alan_nufus_df.values[0]

array([  2.15480000e+04,   3.45047800e+06,   1.60129850e+02])

In [76]:
# satır sütün ile indeks
alan_nufus_df.iloc[:3, :2]

          Alan    Nufus
Adana    21548  3450478
Ankara  125432  5750420
Bursa    56842  1785634

In [88]:
alan_nufus_df.loc[:'Istanbul', :'Nufus']

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035

In [91]:
# filtreleme
alan_nufus_df.loc[alan_nufus_df.Yogunluk > 100]

           Alan     Nufus    Yogunluk
Adana     21548   3450478  160.129850
Istanbul  89547  15475035  172.814667
Izmir     25784   6541025  253.685425

In [90]:
# degiskenleri seçerek filtreleme
alan_nufus_df.loc[alan_nufus_df.Yogunluk > 100, ['Nufus', 'Yogunluk']]

             Nufus    Yogunluk
Adana      3450478  160.129850
Istanbul  15475035  172.814667
Izmir      6541025  253.685425

In [92]:
alan_nufus_df.iloc[3,2]

172.81466715802875

In [104]:
alan_nufus_df.iloc[[1,2,4],[0,2]]

          Alan    Yogunluk
Ankara  125432   45.844920
Bursa    56842   31.413990
Izmir    25784  253.685425

#### DF Koşullar

In [106]:
alan_nufus_df[alan_nufus_df.Alan > 100000]

          Alan    Nufus  Yogunluk
Ankara  125432  5750420  45.84492

In [107]:
alan_nufus_df[alan_nufus_df["Alan"] > 100000]

          Alan    Nufus  Yogunluk
Ankara  125432  5750420  45.84492

In [121]:
alan_nufus_df[alan_nufus_df["Nufus"] >= alan_nufus_df["Alan"]]

            Alan     Nufus    Yogunluk
Adana      21548   3450478  160.129850
Ankara    125432   5750420   45.844920
Bursa      56842   1785634   31.413990
Istanbul   89547  15475035  172.814667
Izmir      25784   6541025  253.685425

#### CSV dosya okuma

In [ ]:
pd.read_csv?

In [2]:
pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [3]:
ulkeler = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [4]:
# head ile ilk 5 gözlem
ulkeler.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [5]:
# tail ile son 5 gözlem
ulkeler.tail()

       Country         Region
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

In [6]:
ulkeler.describe()

        Country  Region
count       194     194
unique      194       6
top     Vietnam  AFRICA
freq          1      54

In [7]:
ulkeler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
Country    194 non-null object
Region     194 non-null object
dtypes: object(2)
memory usage: 3.1+ KB

In [8]:
# Tersini alma
ulkeler.T

,0,1,2,3,4,5,6,7,8,9,...,184,185,186,187,188,189,190,191,192,193
Country,Algeria,Angola,Benin,Botswana,Burkina,Burundi,Cameroon,Cape Verde,Central African Republic,Chad,...,Brazil,Chile,Colombia,Ecuador,Guyana,Paraguay,Peru,Suriname,Uruguay,Venezuela
Region,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,...,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA

In [15]:
# axis 1
ulkeler.sort_index(axis=1, ascending=False)

            Region                           Country
0           AFRICA                           Algeria
1           AFRICA                            Angola
2           AFRICA                             Benin
3           AFRICA                          Botswana
4           AFRICA                           Burkina
5           AFRICA                           Burundi
6           AFRICA                          Cameroon
7           AFRICA                        Cape Verde
8           AFRICA          Central African Republic
9           AFRICA                              Chad
10          AFRICA                           Comoros
11          AFRICA                             Congo
12          AFRICA     Congo, Democratic Republic of
13          AFRICA                          Djibouti
14          AFRICA                             Egypt
15          AFRICA                 Equatorial Guinea
16          AFRICA                           Eritrea
17          AFRICA                          Ethiopia
18          AFRICA                             Gabon
19          AFRICA                            Gambia
20          AFRICA                             Ghana
21          AFRICA                            Guinea
22          AFRICA                     Guinea-Bissau
23          AFRICA                       Ivory Coast
24          AFRICA                             Kenya
25          AFRICA                           Lesotho
26          AFRICA                           Liberia
27          AFRICA                             Libya
28          AFRICA                        Madagascar
29          AFRICA                            Malawi
..             ...                               ...
164  NORTH AMERICA                       Saint Lucia
165  NORTH AMERICA  Saint Vincent and the Grenadines
166  NORTH AMERICA               Trinidad and Tobago
167  NORTH AMERICA                     United States
168        OCEANIA                         Australia
169        OCEANIA                              Fiji
170        OCEANIA                          Kiribati
171        OCEANIA                  Marshall Islands
172        OCEANIA                        Micronesia
173        OCEANIA                             Nauru
174        OCEANIA                       New Zealand
175        OCEANIA                             Palau
176        OCEANIA                  Papua New Guinea
177        OCEANIA                             Samoa
178        OCEANIA                   Solomon Islands
179        OCEANIA                             Tonga
180        OCEANIA                            Tuvalu
181        OCEANIA                           Vanuatu
182  SOUTH AMERICA                         Argentina
183  SOUTH AMERICA                           Bolivia
184  SOUTH AMERICA                            Brazil
185  SOUTH AMERICA                             Chile
186  SOUTH AMERICA                          Colombia
187  SOUTH AMERICA                           Ecuador
188  SOUTH AMERICA                            Guyana
189  SOUTH AMERICA                          Paraguay
190  SOUTH AMERICA                              Peru
191  SOUTH AMERICA                          Suriname
192  SOUTH AMERICA                           Uruguay
193  SOUTH AMERICA                         Venezuela

[194 rows x 2 columns]

In [16]:
ulkeler.sort_index(axis=1, ascending=True)

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [14]:
# axis 0
ulkeler.sort_index(axis=0, ascending=False)

                              Country         Region
193                         Venezuela  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
182                         Argentina  SOUTH AMERICA
181                           Vanuatu        OCEANIA
180                            Tuvalu        OCEANIA
179                             Tonga        OCEANIA
178                   Solomon Islands        OCEANIA
177                             Samoa        OCEANIA
176                  Papua New Guinea        OCEANIA
175                             Palau        OCEANIA
174                       New Zealand        OCEANIA
173                             Nauru        OCEANIA
172                        Micronesia        OCEANIA
171                  Marshall Islands        OCEANIA
170                          Kiribati        OCEANIA
169                              Fiji        OCEANIA
168                         Australia        OCEANIA
167                     United States  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
164                       Saint Lucia  NORTH AMERICA
..                                ...            ...
29                             Malawi         AFRICA
28                         Madagascar         AFRICA
27                              Libya         AFRICA
26                            Liberia         AFRICA
25                            Lesotho         AFRICA
24                              Kenya         AFRICA
23                        Ivory Coast         AFRICA
22                      Guinea-Bissau         AFRICA
21                             Guinea         AFRICA
20                              Ghana         AFRICA
19                             Gambia         AFRICA
18                              Gabon         AFRICA
17                           Ethiopia         AFRICA
16                            Eritrea         AFRICA
15                  Equatorial Guinea         AFRICA
14                              Egypt         AFRICA
13                           Djibouti         AFRICA
12      Congo, Democratic Republic of         AFRICA
11                              Congo         AFRICA
10                            Comoros         AFRICA
9                                Chad         AFRICA
8            Central African Republic         AFRICA
7                          Cape Verde         AFRICA
6                            Cameroon         AFRICA
5                             Burundi         AFRICA
4                             Burkina         AFRICA
3                            Botswana         AFRICA
2                               Benin         AFRICA
1                              Angola         AFRICA
0                             Algeria         AFRICA

[194 rows x 2 columns]

In [17]:
ulkeler.sort_index(axis=0, ascending=True)

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [20]:
ulkeler.sort_values(by='Country')

                    Country         Region
54              Afghanistan           ASIA
98                  Albania         EUROPE
0                   Algeria         AFRICA
99                  Andorra         EUROPE
1                    Angola         AFRICA
145     Antigua and Barbuda  NORTH AMERICA
182               Argentina  SOUTH AMERICA
100                 Armenia         EUROPE
168               Australia        OCEANIA
101                 Austria         EUROPE
102              Azerbaijan         EUROPE
146                 Bahamas  NORTH AMERICA
55                  Bahrain           ASIA
56               Bangladesh           ASIA
147                Barbados  NORTH AMERICA
103                 Belarus         EUROPE
104                 Belgium         EUROPE
148                  Belize  NORTH AMERICA
2                     Benin         AFRICA
57                   Bhutan           ASIA
183                 Bolivia  SOUTH AMERICA
105  Bosnia and Herzegovina         EUROPE
3                  Botswana         AFRICA
184                  Brazil  SOUTH AMERICA
58                   Brunei           ASIA
106                Bulgaria         EUROPE
4                   Burkina         AFRICA
59                    Burma           ASIA
5                   Burundi         AFRICA
60                 Cambodia           ASIA
..                      ...            ...
46                    Sudan         AFRICA
191                Suriname  SOUTH AMERICA
47                Swaziland         AFRICA
140                  Sweden         EUROPE
141             Switzerland         EUROPE
89                    Syria           ASIA
90               Tajikistan           ASIA
48                 Tanzania         AFRICA
91                 Thailand           ASIA
49                     Togo         AFRICA
179                   Tonga        OCEANIA
166     Trinidad and Tobago  NORTH AMERICA
50                  Tunisia         AFRICA
92                   Turkey           ASIA
93             Turkmenistan           ASIA
180                  Tuvalu        OCEANIA
51                   Uganda         AFRICA
142                 Ukraine         EUROPE
94     United Arab Emirates           ASIA
143          United Kingdom         EUROPE
167           United States  NORTH AMERICA
192                 Uruguay  SOUTH AMERICA
95               Uzbekistan           ASIA
181                 Vanuatu        OCEANIA
144            Vatican City         EUROPE
193               Venezuela  SOUTH AMERICA
96                  Vietnam           ASIA
97                    Yemen           ASIA
52                   Zambia         AFRICA
53                 Zimbabwe         AFRICA

[194 rows x 2 columns]

In [36]:
ulkeler["Country"]

0                               Algeria
1                                Angola
2                                 Benin
3                              Botswana
4                               Burkina
5                               Burundi
6                              Cameroon
7                            Cape Verde
8              Central African Republic
9                                  Chad
10                              Comoros
11                                Congo
12        Congo, Democratic Republic of
13                             Djibouti
14                                Egypt
15                    Equatorial Guinea
16                              Eritrea
17                             Ethiopia
18                                Gabon
19                               Gambia
20                                Ghana
21                               Guinea
22                        Guinea-Bissau
23                          Ivory Coast
24                                Kenya
25                              Lesotho
26                              Liberia
27                                Libya
28                           Madagascar
29                               Malawi
                     ...
164                         Saint Lucia
165    Saint Vincent and the Grenadines
166                 Trinidad and Tobago
167                       United States
168                           Australia
169                                Fiji
170                            Kiribati
171                    Marshall Islands
172                          Micronesia
173                               Nauru
174                         New Zealand
175                               Palau
176                    Papua New Guinea
177                               Samoa
178                     Solomon Islands
179                               Tonga
180                              Tuvalu
181                             Vanuatu
182                           Argentina
183                             Bolivia
184                              Brazil
185                               Chile
186                            Colombia
187                             Ecuador
188                              Guyana
189                            Paraguay
190                                Peru
191                            Suriname
192                             Uruguay
193                           Venezuela
Name: Country, Length: 194, dtype: object

In [49]:
ulkeler.iloc[1]

Country    Angola
Region     AFRICA
Name: 1, dtype: object

#### Iris veri seti

In [2]:
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv")

In [125]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [129]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [126]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
iris.describe(include=["object"])

          species
count         150
unique          3
top     virginica
freq           50

In [16]:
iris.describe(include="all")

        sepal_length  sepal_width  petal_length  petal_width    species
count     150.000000   150.000000    150.000000   150.000000        150
unique           NaN          NaN           NaN          NaN          3
top              NaN          NaN           NaN          NaN  virginica
freq             NaN          NaN           NaN          NaN         50
mean        5.843333     3.054000      3.758667     1.198667        NaN
std         0.828066     0.433594      1.764420     0.763161        NaN
min         4.300000     2.000000      1.000000     0.100000        NaN
25%         5.100000     2.800000      1.600000     0.300000        NaN
50%         5.800000     3.000000      4.350000     1.300000        NaN
75%         6.400000     3.300000      5.100000     1.800000        NaN
max         7.900000     4.400000      6.900000     2.500000        NaN

In [127]:
iris.sum()

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [138]:
iris.sum(1)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [128]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [136]:
iris.mean(1)

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
5      2.850
6      2.425
7      2.525
8      2.225
9      2.400
10     2.700
11     2.500
12     2.325
13     2.125
14     2.800
15     3.000
16     2.750
17     2.575
18     2.875
19     2.675
20     2.675
21     2.675
22     2.350
23     2.650
24     2.575
25     2.450
26     2.600
27     2.600
28     2.550
29     2.425
       ...
120    4.525
121    3.825
122    4.800
123    3.925
124    4.450
125    4.550
126    3.900
127    3.950
128    4.225
129    4.400
130    4.550
131    5.025
132    4.250
133    3.925
134    3.925
135    4.775
136    4.425
137    4.200
138    3.900
139    4.375
140    4.450
141    4.350
142    3.875
143    4.550
144    4.550
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64

In [3]:
iris.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [4]:
iris.std(1)

0      2.179449
1      2.036950
2      1.997498
3      1.912241
4      2.156386
5      2.230844
6      1.936276
7      2.109305
8      1.822773
9      2.068816
10     2.307957
11     2.016598
12     2.032035
13     1.883923
14     2.566450
15     2.467117
16     2.307235
17     2.143789
18     2.369775
19     2.173131
20     2.238117
21     2.120338
22     2.087263
23     1.995829
24     1.977161
25     2.048577
26     2.019901
27     2.201515
28     2.205297
29     1.950000
         ...
120    2.139120
121    1.701715
122    2.820165
123    2.050000
124    2.118962
125    2.483948
126    1.976529
127    1.919201
128    2.095034
129    2.556039
130    2.621068
131    2.633597
132    2.061553
133    2.173131
134    2.285279
135    2.555223
136    1.830073
137    2.121320
138    1.865476
139    2.177728
140    2.033880
141    2.068010
142    1.869715
143    2.142429
144    1.975686
145    2.021551
146    2.075853
147    2.046745
148    1.791415
149    1.884144
Length: 150, dtype: float64

In [13]:
### Bunlar dışında
iris.count()
iris.mode()
iris.min()
iris.max()

SyntaxError: invalid syntax (<ipython-input-13-82c95e4732d8>, line 2)

In [130]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [131]:
iris.columns = ["SepalLength", "SepalWidth", "PetalLength", "PetalWidth", "Species"]

In [132]:
iris.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species'], dtype='object')

In [133]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [144]:
iris.SepalLength.unique()

array([ 5.1,  4.9,  4.7,  4.6,  5. ,  5.4,  4.4,  4.8,  4.3,  5.8,  5.7,
        5.2,  5.5,  4.5,  5.3,  7. ,  6.4,  6.9,  6.5,  6.3,  6.6,  5.9,
        6. ,  6.1,  5.6,  6.7,  6.2,  6.8,  7.1,  7.6,  7.3,  7.2,  7.7,
        7.4,  7.9])

In [146]:
iris.SepalLength.value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: SepalLength, dtype: int64

In [145]:
iris.Species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

#### Kayıp Gözlemler

In [17]:
diabet = pd.read_csv("https://raw.github.com/vincentarelbundock/Rdatasets/master/csv/MASS/Pima.te.csv")

In [16]:
diabet.head()

  Unnamed: 0  npreg  glu  bp  skin   bmi    ped  age type
0       None      6  148  72    35  33.6  0.627   50  Yes
1       None      1   85  66    29  26.6  0.351   31   No
2       None      1   89  66    23  28.1  0.167   21   No
3       None      3   78  50    32  31.0  0.248   26  Yes
4       None      2  197  70    45  30.5  0.158   53  Yes

In [20]:
diabet.drop(["Unnamed: 0"], axis=1)

     npreg  glu   bp  skin   bmi    ped  age type
0        6  148   72    35  33.6  0.627   50  Yes
1        1   85   66    29  26.6  0.351   31   No
2        1   89   66    23  28.1  0.167   21   No
3        3   78   50    32  31.0  0.248   26  Yes
4        2  197   70    45  30.5  0.158   53  Yes
5        5  166   72    19  25.8  0.587   51  Yes
6        0  118   84    47  45.8  0.551   31  Yes
7        1  103   30    38  43.3  0.183   33   No
8        3  126   88    41  39.3  0.704   27   No
9        9  119   80    35  29.0  0.263   29  Yes
10       1   97   66    15  23.2  0.487   22   No
11       5  109   75    26  36.0  0.546   60   No
12       3   88   58    11  24.8  0.267   22   No
13      10  122   78    31  27.6  0.512   45   No
14       4  103   60    33  24.0  0.966   33   No
15       9  102   76    37  32.9  0.665   46  Yes
16       2   90   68    42  38.2  0.503   27  Yes
17       4  111   72    47  37.1  1.390   56  Yes
18       3  180   64    25  34.0  0.271   26   No
19       7  106   92    18  22.7  0.235   48   No
20       9  171  110    24  45.4  0.721   54  Yes
21       0  180   66    39  42.0  1.893   25  Yes
22       2   71   70    27  28.0  0.586   22   No
23       1  103   80    11  19.4  0.491   22   No
24       1  101   50    15  24.2  0.526   26   No
25       5   88   66    21  24.4  0.342   30   No
26       7  150   66    42  34.7  0.718   42   No
27       1   73   50    10  23.0  0.248   21   No
28       0  105   64    41  41.5  0.173   22   No
29       5   99   74    27  29.0  0.203   32   No
..     ...  ...  ...   ...   ...    ...  ...  ...
302     10  129   62    36  41.2  0.441   38  Yes
303      0  134   58    20  26.4  0.352   21   No
304      7  187   50    33  33.9  0.826   34  Yes
305      3  173   78    39  33.8  0.970   31  Yes
306     10   94   72    18  23.1  0.595   56   No
307      1  108   60    46  35.5  0.415   24   No
308      5  117   86    30  39.1  0.251   42   No
309      1  116   78    29  36.1  0.496   25   No
310      0  141   84    26  32.4  0.433   22   No
311      2  174   88    37  44.5  0.646   24  Yes
312      2  106   56    27  29.0  0.426   22   No
313      0  126   86    27  27.4  0.515   21   No
314      8   65   72    23  32.0  0.600   42   No
315      2   99   60    17  36.6  0.453   21   No
316     11  120   80    37  42.3  0.785   48  Yes
317      3  102   44    20  30.8  0.400   26   No
318      1  109   58    18  28.5  0.219   22   No
319     13  153   88    37  40.6  1.174   39   No
320     12  100   84    33  30.0  0.488   46   No
321      1  147   94    41  49.3  0.358   27  Yes
322      3  187   70    22  36.4  0.408   36  Yes
323      1  121   78    39  39.0  0.261   28   No
324      3  108   62    24  26.0  0.223   25   No
325      0  181   88    44  43.3  0.222   26  Yes
326      1  128   88    39  36.5  1.057   37  Yes
327      2   88   58    26  28.4  0.766   22   No
328      9  170   74    31  44.0  0.403   43  Yes
329     10  101   76    48  32.9  0.171   63   No
330      5  121   72    23  26.2  0.245   30   No
331      1   93   70    31  30.4  0.315   23   No

[332 rows x 8 columns]

In [22]:
diabet = diabet.drop(["Unnamed: 0"], axis=1)

In [23]:
diabet.isna()

     npreg    glu     bp   skin    bmi    ped    age   type
0    False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False
5    False  False  False  False  False  False  False  False
6    False  False  False  False  False  False  False  False
7    False  False  False  False  False  False  False  False
8    False  False  False  False  False  False  False  False
9    False  False  False  False  False  False  False  False
10   False  False  False  False  False  False  False  False
11   False  False  False  False  False  False  False  False
12   False  False  False  False  False  False  False  False
13   False  False  False  False  False  False  False  False
14   False  False  False  False  False  False  False  False
15   False  False  False  False  False  False  False  False
16   False  False  False  False  False  False  False  False
17   False  False  False  False  False  False  False  False
18   False  False  False  False  False  False  False  False
19   False  False  False  False  False  False  False  False
20   False  False  False  False  False  False  False  False
21   False  False  False  False  False  False  False  False
22   False  False  False  False  False  False  False  False
23   False  False  False  False  False  False  False  False
24   False  False  False  False  False  False  False  False
25   False  False  False  False  False  False  False  False
26   False  False  False  False  False  False  False  False
27   False  False  False  False  False  False  False  False
28   False  False  False  False  False  False  False  False
29   False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...
302  False  False  False  False  False  False  False  False
303  False  False  False  False  False  False  False  False
304  False  False  False  False  False  False  False  False
305  False  False  False  False  False  False  False  False
306  False  False  False  False  False  False  False  False
307  False  False  False  False  False  False  False  False
308  False  False  False  False  False  False  False  False
309  False  False  False  False  False  False  False  False
310  False  False  False  False  False  False  False  False
311  False  False  False  False  False  False  False  False
312  False  False  False  False  False  False  False  False
313  False  False  False  False  False  False  False  False
314  False  False  False  False  False  False  False  False
315  False  False  False  False  False  False  False  False
316  False  False  False  False  False  False  False  False
317  False  False  False  False  False  False  False  False
318  False  False  False  False  False  False  False  False
319  False  False  False  False  False  False  False  False
320  False  False  False  False  False  False  False  False
321  False  False  False  False  False  False  False  False
322  False  False  False  False  False  False  False  False
323  False  False  False  False  False  False  False  False
324  False  False  False  False  False  False  False  False
325  False  False  False  False  False  False  False  False
326  False  False  False  False  False  False  False  False
327  False  False  False  False  False  False  False  False
328  False  False  False  False  False  False  False  False
329  False  False  False  False  False  False  False  False
330  False  False  False  False  False  False  False  False
331  False  False  False  False  False  False  False  False

[332 rows x 8 columns]

In [21]:
diabet.isna().sum()

Unnamed: 0    0
npreg         0
glu           0
bp            0
skin          0
bmi           0
ped           0
age           0
type          0
dtype: int64

In [10]:
diabet.isnull().sum()

Unnamed: 0     0
npreg          0
glu            0
bp            13
skin          98
bmi            3
ped            0
age            0
type           0
dtype: int64

In [33]:
len(diabet)

332

In [39]:
len(diabet.dropna())

332

#### Pivot

In [56]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index)

type
No     7055.7
Yes    3979.9
dtype: float64

In [57]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index).T

,0,1,2,3,4,5,6,7,8,9,...,322,323,324,325,326,327,328,329,330,331
type,,,,,,,,,,,,,,,,,,,,,
No,NaN,26.6,28.1,NaN,NaN,NaN,NaN,43.3,39.3,NaN,...,NaN,39.0,26.0,NaN,NaN,28.4,NaN,32.9,26.2,30.4
Yes,33.6,NaN,NaN,31.0,30.5,25.8,45.8,NaN,NaN,29.0,...,36.4,NaN,NaN,43.3,36.5,NaN,44.0,NaN,NaN,NaN

In [58]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index).T.fillna(0)

,0,1,2,3,4,5,6,7,8,9,...,322,323,324,325,326,327,328,329,330,331
type,,,,,,,,,,,,,,,,,,,,,
No,0.0,26.6,28.1,0.0,0.0,0.0,0.0,43.3,39.3,0.0,...,0.0,39.0,26.0,0.0,0.0,28.4,0.0,32.9,26.2,30.4
Yes,33.6,0.0,0.0,31.0,30.5,25.8,45.8,0.0,0.0,29.0,...,36.4,0.0,0.0,43.3,36.5,0.0,44.0,0.0,0.0,0.0

In [59]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index).T.fillna(0).sum(1)

type
No     7055.7
Yes    3979.9
dtype: float64

#### Group By

In [72]:
diabet.groupby(diabet.type).groups

{'No': Int64Index([  1,   2,   7,   8,  10,  11,  12,  13,  14,  18,
             ...
             317, 318, 319, 320, 323, 324, 327, 329, 330, 331],
            dtype='int64', length=223),
 'Yes': Int64Index([  0,   3,   4,   5,   6,   9,  15,  16,  17,  20,
             ...
             302, 304, 305, 311, 316, 321, 322, 325, 326, 328],
            dtype='int64', length=109)}

In [69]:
diabet.groupby(diabet.type)["age"].mean()

type
No     29.215247
Yes    35.614679
Name: age, dtype: float64

In [92]:
# aggregation fonksiyonları
diabet.groupby("age").agg(sum)

     npreg   glu    bp  skin     bmi     ped
age
21      28  2856  1768   669   826.0  11.372
22      60  4521  2733   995  1261.6  17.287
23      28  2084  1422   533   642.9   8.012
24      35  2653  1620   725   770.5   9.366
25      51  3612  2044   937  1044.6  22.720
26      32  1869  1070   467   582.8   7.030
27      29  1484   919   380   423.4   5.146
28      45  1901  1122   491   554.3   7.575
29      35  1549   892   409   407.9   4.811
30      28   982   518   233   252.1   3.951
31      20   973   538   263   250.4   5.434
32      29   613   420   150   183.1   4.046
33      22   800   440   210   218.6   4.664
34      28   663   336   161   165.4   3.684
35      19   611   372   159   170.2   3.124
36      42  1262   676   255   304.3   5.445
37      35   928   554   211   229.8   2.963
38      38   787   534   204   254.9   3.877
39      45   721   416   206   198.7   4.707
40      19   450   314   117   128.9   1.221
41      13   387   242    68    97.5   1.895
42      60   897   630   268   294.8   3.697
43      63   998   618   227   276.8   4.202
45      53   671   478   219   220.4   3.202
46      47   538   384   157   161.9   3.164
47      37   392   246    87   101.9   1.428
48      27   346   244    77    85.8   1.753
49      23   475   241    77   102.1   2.193
50      26   398   228    85    97.9   2.466
51      30   638   306    94   121.0   3.173
52       3   176    86    27    33.3   1.154
53      16   529   234   106   104.4   1.963
54       9   171   110    24    45.4   0.721
56      24   295   229    97    95.1   2.810
57       8   196    76    29    37.5   0.605
58       0   173    78    32    46.5   1.159
60      11   238   165    33    55.6   1.128
61       7   142    60    33    28.8   0.687
63      14   233   162    79    60.9   0.590
65       5   103   108    37    39.2   0.305
70       4   145    82    18    32.5   0.235
81       9   134    74    33    25.9   0.460

In [97]:
diabet.groupby("type").agg(sum)

      npreg    glu     bp  skin     bmi      ped   age
type
No      654  24126  15639  6097  7055.7  103.598  6515
Yes     503  15468   8150  3585  3979.9   71.827  3882

In [99]:
import numpy as np
diabet.groupby("type").agg(np.sum)

      npreg    glu     bp  skin     bmi      ped   age
type
No      654  24126  15639  6097  7055.7  103.598  6515
Yes     503  15468   8150  3585  3979.9   71.827  3882

In [102]:
diabet.groupby("type").agg([np.sum, np.mean, np.median, np.std])

     npreg                               glu                                \
       sum      mean median       std    sum        mean median        std
type
No     654  2.932735      2  2.781852  24126  108.188341    103  22.645932
Yes    503  4.614679      3  3.901349  15468  141.908257    144  32.035727

         bp               ...        bmi                ped                   \
        sum       mean    ...     median       std      sum      mean median
type                      ...
No    15639  70.130045    ...       30.8  6.648015  103.598  0.464565  0.404
Yes    8150  74.770642    ...       34.9  7.457548   71.827  0.658963  0.586

                 age
           std   sum       mean median        std
type
No    0.315157  6515  29.215247     25  10.131493
Yes   0.417949  3882  35.614679     33  10.390441

[2 rows x 28 columns]

In [153]:
diabet.groupby("type").describe().T

type                 No         Yes
age   count  223.000000  109.000000
      mean    29.215247   35.614679
      std     10.131493   10.390441
      min     21.000000   21.000000
      25%     22.000000   27.000000
      50%     25.000000   33.000000
      75%     33.000000   43.000000
      max     81.000000   70.000000
bmi   count  223.000000  109.000000
      mean    31.639910   36.512844
      std      6.648015    7.457548
      min     19.400000   25.500000
      25%     27.000000   31.600000
      50%     30.800000   34.900000
      75%     35.900000   40.900000
      max     57.300000   67.100000
bp    count  223.000000  109.000000
      mean    70.130045   74.770642
      std     12.381916   13.128026
      min     24.000000   30.000000
      25%     62.000000   68.000000
      50%     70.000000   74.000000
      75%     78.000000   84.000000
      max    108.000000  110.000000
glu   count  223.000000  109.000000
      mean   108.188341  141.908257
      std     22.645932   32.035727
      min     65.000000   78.000000
      25%     92.000000  113.000000
      50%    103.000000  144.000000
      75%    123.000000  172.000000
      max    197.000000  197.000000
npreg count  223.000000  109.000000
      mean     2.932735    4.614679
      std      2.781852    3.901349
      min      0.000000    0.000000
      25%      1.000000    1.000000
      50%      2.000000    3.000000
      75%      4.000000    8.000000
      max     13.000000   17.000000
ped   count  223.000000  109.000000
      mean     0.464565    0.658963
      std      0.315157    0.417949
      min      0.085000    0.127000
      25%      0.241500    0.337000
      50%      0.404000    0.586000
      75%      0.591000    0.855000
      max      2.329000    2.420000
skin  count  223.000000  109.000000
      mean    27.340807   32.889908
      std      9.567705    9.065951
      min      7.000000   14.000000
      25%     19.500000   27.000000
      50%     27.000000   33.000000
      75%     33.000000   39.000000
      max     54.000000   63.000000

In [103]:
diabet.groupby("type").agg([np.sum, np.mean, np.median, np.std]).T

type                    No           Yes
npreg sum       654.000000    503.000000
      mean        2.932735      4.614679
      median      2.000000      3.000000
      std         2.781852      3.901349
glu   sum     24126.000000  15468.000000
      mean      108.188341    141.908257
      median    103.000000    144.000000
      std        22.645932     32.035727
bp    sum     15639.000000   8150.000000
      mean       70.130045     74.770642
      median     70.000000     74.000000
      std        12.381916     13.128026
skin  sum      6097.000000   3585.000000
      mean       27.340807     32.889908
      median     27.000000     33.000000
      std         9.567705      9.065951
bmi   sum      7055.700000   3979.900000
      mean       31.639910     36.512844
      median     30.800000     34.900000
      std         6.648015      7.457548
ped   sum       103.598000     71.827000
      mean        0.464565      0.658963
      median      0.404000      0.586000
      std         0.315157      0.417949
age   sum      6515.000000   3882.000000
      mean       29.215247     35.614679
      median     25.000000     33.000000
      std        10.131493     10.390441

In [154]:
diabet.groupby("type")["age"].agg([np.sum, np.mean, np.median, np.std]).T

type             No          Yes
sum     6515.000000  3882.000000
mean      29.215247    35.614679
median    25.000000    33.000000
std       10.131493    10.390441

In [183]:
# dönüşüm
diabet.groupby(["age"])["npreg"].transform(max)

0      11
1       8
2       4
3       6
4       9
5      11
6       8
7       6
8       5
9       9
10      4
11      6
12      4
13     13
14      6
15     12
16      5
17     10
18      6
19     11
20      9
21      5
22      4
23      4
24      6
25      5
26     11
27      4
28      4
29      7
       ..
302    10
303     4
304     9
305     8
306    10
307     4
308    11
309     5
310     4
311     4
312     4
313     4
314    11
315     4
316    11
317     6
318     4
319    13
320    12
321     5
322     8
323     6
324     5
325     6
326     8
327     4
328    15
329    10
330     5
331     6
Name: npreg, Length: 332, dtype: int64

In [184]:
# apply
diabet.groupby(["age"])["npreg"].apply(np.max)

age
21     4
22     4
23     6
24     4
25     5
26     6
27     5
28     6
29     9
30     5
31     8
32     7
33     6
34     9
35     6
36     8
37     8
38    10
39    13
40    10
41     7
42    11
43    15
45    13
46    12
47    17
48    11
49     9
50    11
51    11
52     3
53     9
54     9
56    10
57     8
58     0
60     6
61     7
63    10
65     5
70     4
81     9
Name: npreg, dtype: int64

In [162]:
diabet.groupby(["age", "npreg"]).apply(np.max)

           npreg  glu   bp  skin   bmi    ped  age type
age npreg
21  0          0  134   88    46  43.5  0.874   21   No
    1          1  139   72    41  40.7  0.801   21  Yes
    2          2  117   90    32  36.6  0.561   21   No
    3          3   87   60    18  21.8  0.444   21   No
    4          4   94   65    22  24.7  0.148   21   No
22  0          0  179   84    41  44.6  0.532   22  Yes
    1          1  181   84    42  42.4  1.258   22  Yes
    2          2  127   74    35  34.7  0.881   22   No
    3          3  173  100    35  57.3  0.880   22  Yes
    4          4   97   70    32  33.1  0.446   22   No
23  0          0  179   90    37  52.3  0.804   23  Yes
    1          1  153   86    42  40.6  0.892   23   No
    2          2  107   86    36  45.5  0.674   23  Yes
    3          3   74   68    28  29.7  0.293   23   No
    4          4  129   86    20  35.1  0.231   23   No
    6          6   93   50    30  28.7  0.356   23   No
24  0          0  147   85    54  45.2  0.520   24  Yes
    1          1  157   88    46  35.5  1.251   24   No
    2          2  174   88    50  44.5  1.101   24  Yes
    3          3  162   54    38  37.2  0.652   24  Yes
    4          4  117   70    32  33.2  0.612   24   No
25  0          0  180   78    63  59.4  2.420   25  Yes
    1          1  125   78    47  36.1  1.268   25   No
    2          2  155   74    52  40.5  1.699   25  Yes
    3          3  193   82    48  38.4  2.137   25  Yes
    4          4   84   90    23  39.5  0.159   25   No
    5          5  109   62    41  35.8  0.514   25  Yes
26  0          0  181  110    46  67.1  0.364   26  Yes
    1          1  119   88    42  55.0  0.666   26  Yes
    2          2  100   68    25  38.5  0.324   26   No
...          ...  ...  ...   ...   ...    ...  ...  ...
47  17        17  163   72    41  40.9  0.817   47  Yes
48  7          7  106   92    18  22.7  0.235   48   No
    9          9  120   72    22  20.8  0.733   48   No
    11        11  120   80    37  42.3  0.785   48  Yes
49  6          6  165   68    26  33.6  0.631   49   No
    8          8  126   88    36  38.5  0.349   49   No
    9          9  184   85    15  30.0  1.213   49  Yes
50  6          6  148   72    35  33.6  0.627   50  Yes
    9          9  112   82    24  28.2  1.282   50  Yes
    11        11  138   74    26  36.1  0.557   50  Yes
51  5          5  166   72    19  25.8  0.587   51  Yes
    7          7  181   84    26  35.9  0.647   51  Yes
    11        11  155   76    28  33.3  1.353   51  Yes
52  3          3  176   86    27  33.3  1.154   52  Yes
53  2          2  197   70    45  30.5  0.158   53  Yes
    5          5  187   76    27  43.6  1.034   53  Yes
    9          9  145   88    34  30.3  0.771   53  Yes
54  9          9  171  110    24  45.4  0.721   54  Yes
56  4          4  111   72    47  37.1  1.390   56  Yes
    10        10   94   85    32  34.9  0.825   56  Yes
57  8          8  196   76    29  37.5  0.605   57  Yes
58  0          0  173   78    32  46.5  1.159   58   No
60  5          5  109   75    26  36.0  0.546   60   No
    6          6  129   90     7  19.6  0.582   60   No
61  7          7  142   60    33  28.8  0.687   61   No
63  4          4  132   86    31  28.0  0.419   63   No
    10        10  101   76    48  32.9  0.171   63   No
65  5          5  103  108    37  39.2  0.305   65   No
70  4          4  145   82    18  32.5  0.235   70  Yes
81  9          9  134   74    33  25.9  0.460   81   No

[161 rows x 8 columns]

In [199]:
def yas35mi(x):
    return x > 35

In [200]:
diabet["age"].apply(yas35mi)

0       True
1      False
2      False
3      False
4       True
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13      True
14     False
15      True
16     False
17      True
18     False
19      True
20      True
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28     False
29     False
       ...
302     True
303    False
304    False
305    False
306     True
307    False
308     True
309    False
310    False
311    False
312    False
313    False
314     True
315    False
316     True
317    False
318    False
319     True
320     True
321    False
322     True
323    False
324    False
325    False
326     True
327    False
328     True
329     True
330    False
331    False
Name: age, Length: 332, dtype: bool

In [190]:
diabet["age"].apply(lambda x: x > 35)

0       True
1      False
2      False
3      False
4       True
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13      True
14     False
15      True
16     False
17      True
18     False
19      True
20      True
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28     False
29     False
       ...
302     True
303    False
304    False
305    False
306     True
307    False
308     True
309    False
310    False
311    False
312    False
313    False
314     True
315    False
316     True
317    False
318    False
319     True
320     True
321    False
322     True
323    False
324    False
325    False
326     True
327    False
328     True
329     True
330    False
331    False
Name: age, Length: 332, dtype: bool

In [206]:
diabet["age"].transform(yas35mi)

0       True
1      False
2      False
3      False
4       True
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13      True
14     False
15      True
16     False
17      True
18     False
19      True
20      True
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28     False
29     False
       ...
302     True
303    False
304    False
305    False
306     True
307    False
308     True
309    False
310    False
311    False
312    False
313    False
314     True
315    False
316     True
317    False
318    False
319     True
320     True
321    False
322     True
323    False
324    False
325    False
326     True
327    False
328     True
329     True
330    False
331    False
Name: age, Length: 332, dtype: bool

In [191]:
logic = diabet["age"].apply(lambda x: x > 35)

In [193]:
logic.value_counts()

False    235
True      97
Name: age, dtype: int64

In [196]:
diabet[logic]

     npreg  glu   bp  skin   bmi    ped  age type
0        6  148   72    35  33.6  0.627   50  Yes
4        2  197   70    45  30.5  0.158   53  Yes
5        5  166   72    19  25.8  0.587   51  Yes
11       5  109   75    26  36.0  0.546   60   No
13      10  122   78    31  27.6  0.512   45   No
15       9  102   76    37  32.9  0.665   46  Yes
17       4  111   72    47  37.1  1.390   56  Yes
19       7  106   92    18  22.7  0.235   48   No
20       9  171  110    24  45.4  0.721   54  Yes
26       7  150   66    42  34.7  0.718   42   No
30       0  109   88    30  32.5  0.855   38  Yes
38       7   83   78    26  29.3  0.767   36   No
40      13  106   72    54  36.6  0.178   45   No
42      15  136   70    32  37.1  0.153   43  Yes
44       7   81   78    40  46.7  0.261   42   No
50       4  144   58    28  29.5  0.287   37   No
52       7  160   54    32  30.5  0.588   39  Yes
57       1  117   88    24  34.5  0.403   40  Yes
60       8   84   74    31  38.3  0.457   39   No
63       5  106   82    30  39.5  0.286   38   No
67       9  156   86    28  34.3  1.189   42  Yes
69       7  152   88    44  50.0  0.337   36  Yes
71      17  163   72    41  40.9  0.817   47  Yes
72       4  151   90    38  29.7  0.294   36   No
73       7  102   74    40  37.2  0.204   45   No
75       6  104   74    18  29.9  0.722   41  Yes
77       8  179   72    42  32.7  0.719   36  Yes
85       8  196   76    29  37.5  0.605   57  Yes
91       7  142   60    33  28.8  0.687   61   No
97       6  134   80    37  46.2  0.238   46  Yes
..     ...  ...  ...   ...   ...    ...  ...  ...
230      9  145   88    34  30.3  0.771   53  Yes
231      6  129   90     7  19.6  0.582   60   No
238     10   90   85    32  34.9  0.825   56  Yes
241      8  186   90    35  34.5  0.423   37  Yes
242      5  187   76    27  43.6  1.034   53  Yes
248     11  103   68    40  46.2  0.126   42   No
256      3  176   86    27  33.3  1.154   52  Yes
257     11  111   84    40  46.8  0.925   45  Yes
267      3  174   58    22  32.9  0.593   36  Yes
269     11  138   74    26  36.1  0.557   50  Yes
271      9  112   82    24  28.2  1.282   50  Yes
281     11  136   84    35  28.3  0.260   42  Yes
286      4  145   82    18  32.5  0.235   70  Yes
287     10  111   70    27  27.5  0.141   40  Yes
288      6   98   58    33  34.0  0.430   43   No
289      6  165   68    26  33.6  0.631   49   No
290     10   68  106    23  35.5  0.285   47   No
296      7  142   90    24  30.4  0.128   43  Yes
301      5  126   78    27  29.6  0.439   40   No
302     10  129   62    36  41.2  0.441   38  Yes
306     10   94   72    18  23.1  0.595   56   No
308      5  117   86    30  39.1  0.251   42   No
314      8   65   72    23  32.0  0.600   42   No
316     11  120   80    37  42.3  0.785   48  Yes
319     13  153   88    37  40.6  1.174   39   No
320     12  100   84    33  30.0  0.488   46   No
322      3  187   70    22  36.4  0.408   36  Yes
326      1  128   88    39  36.5  1.057   37  Yes
328      9  170   74    31  44.0  0.403   43  Yes
329     10  101   76    48  32.9  0.171   63   No

[97 rows x 8 columns]

In [197]:
diabet[logic == False]

     npreg  glu   bp  skin   bmi    ped  age type
1        1   85   66    29  26.6  0.351   31   No
2        1   89   66    23  28.1  0.167   21   No
3        3   78   50    32  31.0  0.248   26  Yes
6        0  118   84    47  45.8  0.551   31  Yes
7        1  103   30    38  43.3  0.183   33   No
8        3  126   88    41  39.3  0.704   27   No
9        9  119   80    35  29.0  0.263   29  Yes
10       1   97   66    15  23.2  0.487   22   No
12       3   88   58    11  24.8  0.267   22   No
14       4  103   60    33  24.0  0.966   33   No
16       2   90   68    42  38.2  0.503   27  Yes
18       3  180   64    25  34.0  0.271   26   No
21       0  180   66    39  42.0  1.893   25  Yes
22       2   71   70    27  28.0  0.586   22   No
23       1  103   80    11  19.4  0.491   22   No
24       1  101   50    15  24.2  0.526   26   No
25       5   88   66    21  24.4  0.342   30   No
27       1   73   50    10  23.0  0.248   21   No
28       0  105   64    41  41.5  0.173   22   No
29       5   99   74    27  29.0  0.203   32   No
31       1   95   66    13  19.6  0.334   25   No
32       4  146   85    27  28.9  0.189   27   No
33       2  100   66    20  32.9  0.867   28  Yes
34       4  129   86    20  35.1  0.231   23   No
35       5   95   72    33  37.7  0.370   27   No
36       2  112   66    22  25.0  0.307   24   No
37       3  113   44    13  22.4  0.140   22   No
39       0  101   65    28  24.6  0.237   22   No
41       2  100   68    25  38.5  0.324   26   No
43       4  123   80    15  32.0  0.443   34   No
..     ...  ...  ...   ...   ...    ...  ...  ...
284      2  101   58    35  21.8  0.155   22   No
285      1  112   80    45  34.8  0.217   24   No
291      3  123  100    35  57.3  0.880   22   No
292      0  162   76    36  49.6  0.364   26  Yes
293      0   95   64    39  44.6  0.366   22   No
294      2  129   74    26  33.2  0.591   25   No
295      1  107   50    19  28.3  0.181   29   No
297      3  169   74    19  29.9  0.268   31  Yes
298      6   80   80    36  39.8  0.177   28   No
299      2  127   46    21  34.4  0.176   22   No
300      2   93   64    32  38.0  0.674   23  Yes
303      0  134   58    20  26.4  0.352   21   No
304      7  187   50    33  33.9  0.826   34  Yes
305      3  173   78    39  33.8  0.970   31  Yes
307      1  108   60    46  35.5  0.415   24   No
309      1  116   78    29  36.1  0.496   25   No
310      0  141   84    26  32.4  0.433   22   No
311      2  174   88    37  44.5  0.646   24  Yes
312      2  106   56    27  29.0  0.426   22   No
313      0  126   86    27  27.4  0.515   21   No
315      2   99   60    17  36.6  0.453   21   No
317      3  102   44    20  30.8  0.400   26   No
318      1  109   58    18  28.5  0.219   22   No
321      1  147   94    41  49.3  0.358   27  Yes
323      1  121   78    39  39.0  0.261   28   No
324      3  108   62    24  26.0  0.223   25   No
325      0  181   88    44  43.3  0.222   26  Yes
327      2   88   58    26  28.4  0.766   22   No
330      5  121   72    23  26.2  0.245   30   No
331      1   93   70    31  30.4  0.315   23   No

[235 rows x 8 columns]

In [117]:
# filtreleme
diabet.groupby("age").filter(lambda x: len(x) > 35)

     npreg  glu   bp  skin   bmi    ped  age type
10       1   97   66    15  23.2  0.487   22   No
12       3   88   58    11  24.8  0.267   22   No
22       2   71   70    27  28.0  0.586   22   No
23       1  103   80    11  19.4  0.491   22   No
28       0  105   64    41  41.5  0.173   22   No
37       3  113   44    13  22.4  0.140   22   No
39       0  101   65    28  24.6  0.237   22   No
53       4   97   60    23  28.2  0.443   22   No
62       0   93   60    25  28.7  0.532   22   No
64       2  108   52    26  32.5  0.318   22   No
66       2   90   70    17  27.3  0.085   22   No
70       2   88   74    19  29.0  0.229   22   No
93       1   87   78    27  34.6  0.101   22   No
102      4   91   70    32  33.1  0.446   22   No
121      2  108   62    10  25.3  0.881   22   No
148      1   95   60    18  23.9  0.260   22   No
149      1  130   70    13  25.9  0.472   22   No
152      1  139   46    19  28.7  0.654   22   No
160      3   81   86    16  27.5  0.306   22   No
163      0   98   82    15  25.2  0.299   22   No
164      1   87   60    37  37.2  0.509   22   No
166      0  105   68    22  20.0  0.236   22   No
182      1  143   84    23  42.4  1.076   22   No
183      3  173   84    33  35.7  0.258   22  Yes
193      1   80   74    11  30.0  0.527   22   No
198      0  104   64    37  33.6  0.510   22  Yes
209      0  137   70    38  33.2  0.170   22   No
234      2  122   60    18  29.8  0.717   22   No
251      3  111   58    31  29.5  0.430   22   No
252      2   98   60    17  34.7  0.198   22   No
264      1  181   78    42  40.0  1.258   22  Yes
276      1  128   82    17  27.5  0.115   22   No
280      0  179   50    36  37.8  0.455   22  Yes
284      2  101   58    35  21.8  0.155   22   No
291      3  123  100    35  57.3  0.880   22   No
293      0   95   64    39  44.6  0.366   22   No
299      2  127   46    21  34.4  0.176   22   No
310      0  141   84    26  32.4  0.433   22   No
312      2  106   56    27  29.0  0.426   22   No
318      1  109   58    18  28.5  0.219   22   No
327      2   88   58    26  28.4  0.766   22   No

In [235]:
pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv")

       year  month   day gender  births
0      1969      1   1.0      F    4046
1      1969      1   1.0      M    4440
2      1969      1   2.0      F    4454
3      1969      1   2.0      M    4548
4      1969      1   3.0      F    4548
5      1969      1   3.0      M    4994
6      1969      1   4.0      F    4440
7      1969      1   4.0      M    4520
8      1969      1   5.0      F    4192
9      1969      1   5.0      M    4198
10     1969      1   6.0      F    4710
11     1969      1   6.0      M    4850
12     1969      1   7.0      F    4646
13     1969      1   7.0      M    5092
14     1969      1   8.0      F    4800
15     1969      1   8.0      M    4934
16     1969      1   9.0      F    4592
17     1969      1   9.0      M    4842
18     1969      1  10.0      F    4852
19     1969      1  10.0      M    5190
20     1969      1  11.0      F    4580
21     1969      1  11.0      M    4598
22     1969      1  12.0      F    4126
23     1969      1  12.0      M    4324
24     1969      1  13.0      F    4758
25     1969      1  13.0      M    5076
26     1969      1  14.0      F    5070
27     1969      1  14.0      M    5296
28     1969      1  15.0      F    4798
29     1969      1  15.0      M    5096
...     ...    ...   ...    ...     ...
15517  2007     10   NaN      F  180912
15518  2007     10   NaN      M  189157
15519  2007     11   NaN      F  173513
15520  2007     11   NaN      M  180814
15521  2007     12   NaN      F  173787
15522  2007     12   NaN      M  181426
15523  2008      1   NaN      F  174255
15524  2008      1   NaN      M  182789
15525  2008      2   NaN      F  165669
15526  2008      2   NaN      M  173434
15527  2008      3   NaN      F  172053
15528  2008      3   NaN      M  179129
15529  2008      4   NaN      F  169585
15530  2008      4   NaN      M  177399
15531  2008      5   NaN      F  173141
15532  2008      5   NaN      M  182294
15533  2008      6   NaN      F  169958
15534  2008      6   NaN      M  179267
15535  2008      7   NaN      F  183391
15536  2008      7   NaN      M  192714
15537  2008      8   NaN      F  182713
15538  2008      8   NaN      M  191315
15539  2008      9   NaN      F  179696
15540  2008      9   NaN      M  188964
15541  2008     10   NaN      F  175314
15542  2008     10   NaN      M  183219
15543  2008     11   NaN      F  158939
15544  2008     11   NaN      M  165468
15545  2008     12   NaN      F  173215
15546  2008     12   NaN      M  181235

[15547 rows x 5 columns]