In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.21.0'

### Pandas Series Objesi

In [97]:
#float
data = pd.Series([0.25, 0.50, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [98]:
type(data)

pandas.core.series.Series

In [6]:
#int
data = pd.Series([25, 50, 75, 100])
data

0     25
1     50
2     75
3    100
dtype: int64

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data.values

array([ 25,  50,  75, 100], dtype=int64)

In [9]:
data[1]

50

In [10]:
data[1:3]

1    50
2    75
dtype: int64

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data['c']

0.75

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
data[2]

0.25

In [64]:
nufus_dict = {'Ankara': 5750420,
                   'Istanbul': 15475035,
                   'Izmir': 6541025,
                   'Adana': 3450478,
                   'Bursa': 1785634}
nufus = pd.Series(nufus_dict)
nufus

Adana        3450478
Ankara       5750420
Bursa        1785634
Istanbul    15475035
Izmir        6541025
dtype: int64

In [17]:
nufus["Izmir"]

6541025

In [23]:
nufus["Adana":"Bursa"]

Adana     3450478
Ankara    5750420
Bursa     1785634
dtype: int64

### Data Frame

In [ ]:
nufus_dict = {'Ankara': 5750420,
                   'Istanbul': 15475035,
                   'Izmir': 6541025,
                   'Adana': 3450478,
                   'Bursa': 1785634}
nufus = pd.Series(nufus_dict)
nufus

In [65]:
alan_dict = {'Ankara': 125432,
                   'Istanbul': 89547,
                   'Izmir': 25784,
                   'Adana': 21548,
                   'Bursa': 56842}
alan = pd.Series(alan_dict)
alan

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
dtype: int64

In [66]:
alan_nufus_df = pd.DataFrame({'Nufus': nufus,
                       'Alan': alan})
alan_nufus_df

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035
Izmir      25784   6541025

In [99]:
type(alan_nufus_df)

pandas.core.frame.DataFrame

In [29]:
alan_nufus_df.index

Index(['Adana', 'Ankara', 'Bursa', 'Istanbul', 'Izmir'], dtype='object')

In [30]:
alan_nufus_df.columns

Index(['Alan', 'Nufus'], dtype='object')

In [31]:
alan_nufus_df["Alan"]

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [32]:
# pd.DataFrame Yapısı

pd.DataFrame(nufus, columns=['Nufus'])

             Nufus
Adana      3450478
Ankara     5750420
Bursa      1785634
Istanbul  15475035
Izmir      6541025

### İndeks  & Array işlemleri

In [52]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [36]:
'a' in data

True

In [37]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [45]:
data.items()

In [43]:
data.items

<bound method Series.iteritems of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [41]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [47]:
# yeni bir eleman ekleme
data["e"] = 1.25

In [49]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [46]:
# index değerini kullanarak dilimleme
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [54]:
# indeks numarası kullanarak dilimleme
data[0:2]

a    0.25
b    0.50
dtype: float64

### loc & iloc

In [55]:
data[1]

0.5

In [56]:
data[1:3]

b    0.50
c    0.75
dtype: float64

In [58]:
# loc indeks label'ı ile çalışır
data.loc["a"]

0.25

In [60]:
# iloc indeks sırası ile çalışır
data.iloc[1]

0.5

In [61]:
data.iloc[1:3]

b    0.50
c    0.75
dtype: float64

#### DF Sözlük yapısı

In [67]:
alan_nufus_df = pd.DataFrame({'Nufus': nufus,
                       'Alan': alan})
alan_nufus_df

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035
Izmir      25784   6541025

In [70]:
alan_nufus_df["Alan"]

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [69]:
alan_nufus_df.Alan

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [71]:
alan_nufus_df.Alan is alan_nufus_df['Alan']

True

In [72]:
alan_nufus_df['Yogunluk'] = alan_nufus_df['Nufus'] / alan_nufus_df['Alan']
alan_nufus_df

            Alan     Nufus    Yogunluk
Adana      21548   3450478  160.129850
Ankara    125432   5750420   45.844920
Bursa      56842   1785634   31.413990
Istanbul   89547  15475035  172.814667
Izmir      25784   6541025  253.685425

In [100]:
alan_nufus_df.shape

(5, 3)

In [101]:
alan_nufus_df.dtypes

Alan          int64
Nufus         int64
Yogunluk    float64
dtype: object

In [102]:
alan_nufus_df.columns

Index(['Alan', 'Nufus', 'Yogunluk'], dtype='object')

In [73]:
alan_nufus_df.values

array([[  2.15480000e+04,   3.45047800e+06,   1.60129850e+02],
       [  1.25432000e+05,   5.75042000e+06,   4.58449200e+01],
       [  5.68420000e+04,   1.78563400e+06,   3.14139897e+01],
       [  8.95470000e+04,   1.54750350e+07,   1.72814667e+02],
       [  2.57840000e+04,   6.54102500e+06,   2.53685425e+02]])

In [75]:
alan_nufus_df.values[0]

array([  2.15480000e+04,   3.45047800e+06,   1.60129850e+02])

In [76]:
# satır sütün ile indeks
alan_nufus_df.iloc[:3, :2]

          Alan    Nufus
Adana    21548  3450478
Ankara  125432  5750420
Bursa    56842  1785634

In [88]:
alan_nufus_df.loc[:'Istanbul', :'Nufus']

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035

In [91]:
# filtreleme
alan_nufus_df.loc[alan_nufus_df.Yogunluk > 100]

           Alan     Nufus    Yogunluk
Adana     21548   3450478  160.129850
Istanbul  89547  15475035  172.814667
Izmir     25784   6541025  253.685425

In [90]:
# degiskenleri seçerek filtreleme
alan_nufus_df.loc[alan_nufus_df.Yogunluk > 100, ['Nufus', 'Yogunluk']]

             Nufus    Yogunluk
Adana      3450478  160.129850
Istanbul  15475035  172.814667
Izmir      6541025  253.685425

In [92]:
alan_nufus_df.iloc[3,2]

172.81466715802875

In [104]:
alan_nufus_df.iloc[[1,2,4],[0,2]]

          Alan    Yogunluk
Ankara  125432   45.844920
Bursa    56842   31.413990
Izmir    25784  253.685425

#### DF Koşullar

In [106]:
alan_nufus_df[alan_nufus_df.Alan > 100000]

          Alan    Nufus  Yogunluk
Ankara  125432  5750420  45.84492

In [107]:
alan_nufus_df[alan_nufus_df["Alan"] > 100000]

          Alan    Nufus  Yogunluk
Ankara  125432  5750420  45.84492

In [121]:
alan_nufus_df[alan_nufus_df["Nufus"] >= alan_nufus_df["Alan"]]

            Alan     Nufus    Yogunluk
Adana      21548   3450478  160.129850
Ankara    125432   5750420   45.844920
Bursa      56842   1785634   31.413990
Istanbul   89547  15475035  172.814667
Izmir      25784   6541025  253.685425

#### CSV dosya okuma

In [ ]:
pd.read_csv?

In [2]:
pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [3]:
ulkeler = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [4]:
# head ile ilk 5 gözlem
ulkeler.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [5]:
# tail ile son 5 gözlem
ulkeler.tail()

       Country         Region
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

In [6]:
ulkeler.describe()

        Country  Region
count       194     194
unique      194       6
top     Vietnam  AFRICA
freq          1      54

In [7]:
ulkeler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
Country    194 non-null object
Region     194 non-null object
dtypes: object(2)
memory usage: 3.1+ KB

In [8]:
# Tersini alma
ulkeler.T

,0,1,2,3,4,5,6,7,8,9,...,184,185,186,187,188,189,190,191,192,193
Country,Algeria,Angola,Benin,Botswana,Burkina,Burundi,Cameroon,Cape Verde,Central African Republic,Chad,...,Brazil,Chile,Colombia,Ecuador,Guyana,Paraguay,Peru,Suriname,Uruguay,Venezuela
Region,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,AFRICA,...,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA,SOUTH AMERICA

In [15]:
# axis 1
ulkeler.sort_index(axis=1, ascending=False)

            Region                           Country
0           AFRICA                           Algeria
1           AFRICA                            Angola
2           AFRICA                             Benin
3           AFRICA                          Botswana
4           AFRICA                           Burkina
5           AFRICA                           Burundi
6           AFRICA                          Cameroon
7           AFRICA                        Cape Verde
8           AFRICA          Central African Republic
9           AFRICA                              Chad
10          AFRICA                           Comoros
11          AFRICA                             Congo
12          AFRICA     Congo, Democratic Republic of
13          AFRICA                          Djibouti
14          AFRICA                             Egypt
15          AFRICA                 Equatorial Guinea
16          AFRICA                           Eritrea
17          AFRICA                          Ethiopia
18          AFRICA                             Gabon
19          AFRICA                            Gambia
20          AFRICA                             Ghana
21          AFRICA                            Guinea
22          AFRICA                     Guinea-Bissau
23          AFRICA                       Ivory Coast
24          AFRICA                             Kenya
25          AFRICA                           Lesotho
26          AFRICA                           Liberia
27          AFRICA                             Libya
28          AFRICA                        Madagascar
29          AFRICA                            Malawi
..             ...                               ...
164  NORTH AMERICA                       Saint Lucia
165  NORTH AMERICA  Saint Vincent and the Grenadines
166  NORTH AMERICA               Trinidad and Tobago
167  NORTH AMERICA                     United States
168        OCEANIA                         Australia
169        OCEANIA                              Fiji
170        OCEANIA                          Kiribati
171        OCEANIA                  Marshall Islands
172        OCEANIA                        Micronesia
173        OCEANIA                             Nauru
174        OCEANIA                       New Zealand
175        OCEANIA                             Palau
176        OCEANIA                  Papua New Guinea
177        OCEANIA                             Samoa
178        OCEANIA                   Solomon Islands
179        OCEANIA                             Tonga
180        OCEANIA                            Tuvalu
181        OCEANIA                           Vanuatu
182  SOUTH AMERICA                         Argentina
183  SOUTH AMERICA                           Bolivia
184  SOUTH AMERICA                            Brazil
185  SOUTH AMERICA                             Chile
186  SOUTH AMERICA                          Colombia
187  SOUTH AMERICA                           Ecuador
188  SOUTH AMERICA                            Guyana
189  SOUTH AMERICA                          Paraguay
190  SOUTH AMERICA                              Peru
191  SOUTH AMERICA                          Suriname
192  SOUTH AMERICA                           Uruguay
193  SOUTH AMERICA                         Venezuela

[194 rows x 2 columns]

In [16]:
ulkeler.sort_index(axis=1, ascending=True)

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [14]:
# axis 0
ulkeler.sort_index(axis=0, ascending=False)

                              Country         Region
193                         Venezuela  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
182                         Argentina  SOUTH AMERICA
181                           Vanuatu        OCEANIA
180                            Tuvalu        OCEANIA
179                             Tonga        OCEANIA
178                   Solomon Islands        OCEANIA
177                             Samoa        OCEANIA
176                  Papua New Guinea        OCEANIA
175                             Palau        OCEANIA
174                       New Zealand        OCEANIA
173                             Nauru        OCEANIA
172                        Micronesia        OCEANIA
171                  Marshall Islands        OCEANIA
170                          Kiribati        OCEANIA
169                              Fiji        OCEANIA
168                         Australia        OCEANIA
167                     United States  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
164                       Saint Lucia  NORTH AMERICA
..                                ...            ...
29                             Malawi         AFRICA
28                         Madagascar         AFRICA
27                              Libya         AFRICA
26                            Liberia         AFRICA
25                            Lesotho         AFRICA
24                              Kenya         AFRICA
23                        Ivory Coast         AFRICA
22                      Guinea-Bissau         AFRICA
21                             Guinea         AFRICA
20                              Ghana         AFRICA
19                             Gambia         AFRICA
18                              Gabon         AFRICA
17                           Ethiopia         AFRICA
16                            Eritrea         AFRICA
15                  Equatorial Guinea         AFRICA
14                              Egypt         AFRICA
13                           Djibouti         AFRICA
12      Congo, Democratic Republic of         AFRICA
11                              Congo         AFRICA
10                            Comoros         AFRICA
9                                Chad         AFRICA
8            Central African Republic         AFRICA
7                          Cape Verde         AFRICA
6                            Cameroon         AFRICA
5                             Burundi         AFRICA
4                             Burkina         AFRICA
3                            Botswana         AFRICA
2                               Benin         AFRICA
1                              Angola         AFRICA
0                             Algeria         AFRICA

[194 rows x 2 columns]

In [17]:
ulkeler.sort_index(axis=0, ascending=True)

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [20]:
ulkeler.sort_values(by='Country')

                    Country         Region
54              Afghanistan           ASIA
98                  Albania         EUROPE
0                   Algeria         AFRICA
99                  Andorra         EUROPE
1                    Angola         AFRICA
145     Antigua and Barbuda  NORTH AMERICA
182               Argentina  SOUTH AMERICA
100                 Armenia         EUROPE
168               Australia        OCEANIA
101                 Austria         EUROPE
102              Azerbaijan         EUROPE
146                 Bahamas  NORTH AMERICA
55                  Bahrain           ASIA
56               Bangladesh           ASIA
147                Barbados  NORTH AMERICA
103                 Belarus         EUROPE
104                 Belgium         EUROPE
148                  Belize  NORTH AMERICA
2                     Benin         AFRICA
57                   Bhutan           ASIA
183                 Bolivia  SOUTH AMERICA
105  Bosnia and Herzegovina         EUROPE
3                  Botswana         AFRICA
184                  Brazil  SOUTH AMERICA
58                   Brunei           ASIA
106                Bulgaria         EUROPE
4                   Burkina         AFRICA
59                    Burma           ASIA
5                   Burundi         AFRICA
60                 Cambodia           ASIA
..                      ...            ...
46                    Sudan         AFRICA
191                Suriname  SOUTH AMERICA
47                Swaziland         AFRICA
140                  Sweden         EUROPE
141             Switzerland         EUROPE
89                    Syria           ASIA
90               Tajikistan           ASIA
48                 Tanzania         AFRICA
91                 Thailand           ASIA
49                     Togo         AFRICA
179                   Tonga        OCEANIA
166     Trinidad and Tobago  NORTH AMERICA
50                  Tunisia         AFRICA
92                   Turkey           ASIA
93             Turkmenistan           ASIA
180                  Tuvalu        OCEANIA
51                   Uganda         AFRICA
142                 Ukraine         EUROPE
94     United Arab Emirates           ASIA
143          United Kingdom         EUROPE
167           United States  NORTH AMERICA
192                 Uruguay  SOUTH AMERICA
95               Uzbekistan           ASIA
181                 Vanuatu        OCEANIA
144            Vatican City         EUROPE
193               Venezuela  SOUTH AMERICA
96                  Vietnam           ASIA
97                    Yemen           ASIA
52                   Zambia         AFRICA
53                 Zimbabwe         AFRICA

[194 rows x 2 columns]

In [36]:
ulkeler["Country"]

0                               Algeria
1                                Angola
2                                 Benin
3                              Botswana
4                               Burkina
5                               Burundi
6                              Cameroon
7                            Cape Verde
8              Central African Republic
9                                  Chad
10                              Comoros
11                                Congo
12        Congo, Democratic Republic of
13                             Djibouti
14                                Egypt
15                    Equatorial Guinea
16                              Eritrea
17                             Ethiopia
18                                Gabon
19                               Gambia
20                                Ghana
21                               Guinea
22                        Guinea-Bissau
23                          Ivory Coast
24                                Kenya
25                              Lesotho
26                              Liberia
27                                Libya
28                           Madagascar
29                               Malawi
                     ...
164                         Saint Lucia
165    Saint Vincent and the Grenadines
166                 Trinidad and Tobago
167                       United States
168                           Australia
169                                Fiji
170                            Kiribati
171                    Marshall Islands
172                          Micronesia
173                               Nauru
174                         New Zealand
175                               Palau
176                    Papua New Guinea
177                               Samoa
178                     Solomon Islands
179                               Tonga
180                              Tuvalu
181                             Vanuatu
182                           Argentina
183                             Bolivia
184                              Brazil
185                               Chile
186                            Colombia
187                             Ecuador
188                              Guyana
189                            Paraguay
190                                Peru
191                            Suriname
192                             Uruguay
193                           Venezuela
Name: Country, Length: 194, dtype: object

In [49]:
ulkeler.iloc[1]

Country    Angola
Region     AFRICA
Name: 1, dtype: object

#### Iris veri seti

In [124]:
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv")

In [125]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [129]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [126]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [127]:
iris.sum()

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [138]:
iris.sum(1)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [128]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [136]:
iris.mean(1)

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
5      2.850
6      2.425
7      2.525
8      2.225
9      2.400
10     2.700
11     2.500
12     2.325
13     2.125
14     2.800
15     3.000
16     2.750
17     2.575
18     2.875
19     2.675
20     2.675
21     2.675
22     2.350
23     2.650
24     2.575
25     2.450
26     2.600
27     2.600
28     2.550
29     2.425
       ...
120    4.525
121    3.825
122    4.800
123    3.925
124    4.450
125    4.550
126    3.900
127    3.950
128    4.225
129    4.400
130    4.550
131    5.025
132    4.250
133    3.925
134    3.925
135    4.775
136    4.425
137    4.200
138    3.900
139    4.375
140    4.450
141    4.350
142    3.875
143    4.550
144    4.550
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64

In [130]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [131]:
iris.columns = ["SepalLength", "SepalWidth", "PetalLength", "PetalWidth", "Species"]

In [132]:
iris.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species'], dtype='object')

In [133]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [144]:
iris.SepalLength.unique()

array([ 5.1,  4.9,  4.7,  4.6,  5. ,  5.4,  4.4,  4.8,  4.3,  5.8,  5.7,
        5.2,  5.5,  4.5,  5.3,  7. ,  6.4,  6.9,  6.5,  6.3,  6.6,  5.9,
        6. ,  6.1,  5.6,  6.7,  6.2,  6.8,  7.1,  7.6,  7.3,  7.2,  7.7,
        7.4,  7.9])

In [146]:
iris.SepalLength.value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: SepalLength, dtype: int64

In [145]:
iris.Species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [151]:
pd.pivot(index=iris.index, columns=iris.Species, values=iris.SepalLength)

Species  setosa  versicolor  virginica
0           5.1         NaN        NaN
1           4.9         NaN        NaN
2           4.7         NaN        NaN
3           4.6         NaN        NaN
4           5.0         NaN        NaN
5           5.4         NaN        NaN
6           4.6         NaN        NaN
7           5.0         NaN        NaN
8           4.4         NaN        NaN
9           4.9         NaN        NaN
10          5.4         NaN        NaN
11          4.8         NaN        NaN
12          4.8         NaN        NaN
13          4.3         NaN        NaN
14          5.8         NaN        NaN
15          5.7         NaN        NaN
16          5.4         NaN        NaN
17          5.1         NaN        NaN
18          5.7         NaN        NaN
19          5.1         NaN        NaN
20          5.4         NaN        NaN
21          5.1         NaN        NaN
22          4.6         NaN        NaN
23          5.1         NaN        NaN
24          4.8         NaN        NaN
25          5.0         NaN        NaN
26          5.0         NaN        NaN
27          5.2         NaN        NaN
28          5.2         NaN        NaN
29          4.7         NaN        NaN
..          ...         ...        ...
120         NaN         NaN        6.9
121         NaN         NaN        5.6
122         NaN         NaN        7.7
123         NaN         NaN        6.3
124         NaN         NaN        6.7
125         NaN         NaN        7.2
126         NaN         NaN        6.2
127         NaN         NaN        6.1
128         NaN         NaN        6.4
129         NaN         NaN        7.2
130         NaN         NaN        7.4
131         NaN         NaN        7.9
132         NaN         NaN        6.4
133         NaN         NaN        6.3
134         NaN         NaN        6.1
135         NaN         NaN        7.7
136         NaN         NaN        6.3
137         NaN         NaN        6.4
138         NaN         NaN        6.0
139         NaN         NaN        6.9
140         NaN         NaN        6.7
141         NaN         NaN        6.9
142         NaN         NaN        5.8
143         NaN         NaN        6.8
144         NaN         NaN        6.7
145         NaN         NaN        6.7
146         NaN         NaN        6.3
147         NaN         NaN        6.5
148         NaN         NaN        6.2
149         NaN         NaN        5.9

[150 rows x 3 columns]

In [152]:
pd.pivot(index=iris.index, columns=iris.Species, values=iris.SepalLength).fillna(0)

Species  setosa  versicolor  virginica
0           5.1         0.0        0.0
1           4.9         0.0        0.0
2           4.7         0.0        0.0
3           4.6         0.0        0.0
4           5.0         0.0        0.0
5           5.4         0.0        0.0
6           4.6         0.0        0.0
7           5.0         0.0        0.0
8           4.4         0.0        0.0
9           4.9         0.0        0.0
10          5.4         0.0        0.0
11          4.8         0.0        0.0
12          4.8         0.0        0.0
13          4.3         0.0        0.0
14          5.8         0.0        0.0
15          5.7         0.0        0.0
16          5.4         0.0        0.0
17          5.1         0.0        0.0
18          5.7         0.0        0.0
19          5.1         0.0        0.0
20          5.4         0.0        0.0
21          5.1         0.0        0.0
22          4.6         0.0        0.0
23          5.1         0.0        0.0
24          4.8         0.0        0.0
25          5.0         0.0        0.0
26          5.0         0.0        0.0
27          5.2         0.0        0.0
28          5.2         0.0        0.0
29          4.7         0.0        0.0
..          ...         ...        ...
120         0.0         0.0        6.9
121         0.0         0.0        5.6
122         0.0         0.0        7.7
123         0.0         0.0        6.3
124         0.0         0.0        6.7
125         0.0         0.0        7.2
126         0.0         0.0        6.2
127         0.0         0.0        6.1
128         0.0         0.0        6.4
129         0.0         0.0        7.2
130         0.0         0.0        7.4
131         0.0         0.0        7.9
132         0.0         0.0        6.4
133         0.0         0.0        6.3
134         0.0         0.0        6.1
135         0.0         0.0        7.7
136         0.0         0.0        6.3
137         0.0         0.0        6.4
138         0.0         0.0        6.0
139         0.0         0.0        6.9
140         0.0         0.0        6.7
141         0.0         0.0        6.9
142         0.0         0.0        5.8
143         0.0         0.0        6.8
144         0.0         0.0        6.7
145         0.0         0.0        6.7
146         0.0         0.0        6.3
147         0.0         0.0        6.5
148         0.0         0.0        6.2
149         0.0         0.0        5.9

[150 rows x 3 columns]