# Jupyter nedir?

#### Ana sayfası: [Jupyter.org](http://jupyter.org)

Markdown desteği var

<div class="alert alert-block alert-info">Tip: Use blue boxes for Tips and notes. If it’s a note, you don’t have to include the word “Note”.</div>
<div class="alert alert-block alert-warning">Example: Use yellow boxes for examples that are not inside code cells, or use for mathematical formulas if needed.</div>
<div class="alert alert-block alert-success">Up to you: Use green boxes sparingly, and only for some specific purpose that the other boxes can't cover. For example, if you have a lot of related content to link to, maybe you decide to use green boxes for related links from each section of a notebook. </div>
<div class="alert alert-block alert-danger">Just don't: In general, just avoid the red boxes.</div>

<div class="alert alert-block alert-info"> Python 3'e yüklemek için; <br>

python3 -m pip install --upgrade pip <br>

python3 -m pip install jupyter

</div>

<div class="alert alert-block alert-info"> Python 2'ye yüklemek için; <br>

python -m pip install --upgrade pip <br>
python -m pip install jupyter


</div>

<div class="alert alert-block alert-info"> Çalıştırmak için; <br>
jupyter notebook

</div>

In [ ]:
%magic

! ile shell komutlarını çalıştırabilirsiniz,

In [ ]:
%ls *.csv

Notebook'u pdf, html, md olarak indirebilirsiniz.

Farklı dildeki çekirdekleri (kernel) destekliyor. [Liste](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels)

[Anaconda Python](https://www.anaconda.com/download/)

<img src= "https://www.anaconda.com/wp-content/uploads/2017/08/Anaconda-Distribution-Diagram.png" />

#### pandas: powerful Python data analysis toolkit

Yüklemek için -> pip install pandas <br>
Opsiyonel ek paketler; matplotlib, numpy

In [1]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
help(pd)

In [ ]:
dir(pd)

Data frame objeleri ile çalışmak için uygun, <br>
Farklı dosya tiplerini destekliyor (csv, xls/xlsx, txt, sas, sql, table, html ... ), <br>
Kayıp gözlemler ile (missing values) başa çıkabiliyor, <br>
Dilimleme, indeks işlemleri kolay, <br>
Pivot tablo oluşturulabiliyor, <br>
Zaman serisi olan veriler ile çalışabiliyor.

### Pandas Series Objesi

In [2]:
#float
data = pd.Series([0.25, 0.50, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
type(data)

pandas.core.series.Series

In [4]:
#int
data = pd.Series([25, 50, 75, 100])
data

0     25
1     50
2     75
3    100
dtype: int64

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data.values

array([ 25,  50,  75, 100], dtype=int64)

In [8]:
data[1]

50

In [9]:
data[1:3]

1    50
2    75
dtype: int64

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data[2]

0.75

In [13]:
data['c']

0.75

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
data[2]

0.25

In [16]:
nufus_dict = {'Ankara': 5750420,
                   'Istanbul': 15475035,
                   'Izmir': 6541025,
                   'Adana': 3450478,
                   'Bursa': 1785634}
nufus = pd.Series(nufus_dict)
nufus

Adana        3450478
Ankara       5750420
Bursa        1785634
Istanbul    15475035
Izmir        6541025
dtype: int64

In [21]:
nufus[4]

6541025

In [17]:
nufus["Izmir"]

6541025

In [23]:
nufus["Adana":"Bursa"]

Adana     3450478
Ankara    5750420
Bursa     1785634
dtype: int64

### Data Frame

DF, iki boyutlu verilerin tutulduğu satır ve sütün şeklinde eksenleri bulunan bir veri yapısıdır. Aritmetik işlemler hem satır bazında hem de sütun bazında uygulanabilir.

In [35]:
nufus_dict = {'Ankara': 5750420,
                   'Istanbul': 15475035,
                   'Izmir': 6541025,
                   'Adana': 3450478,
                   'Bursa': 1785634}
nufus = pd.Series(nufus_dict)
nufus

Adana        3450478
Ankara       5750420
Bursa        1785634
Istanbul    15475035
Izmir        6541025
dtype: int64

In [36]:
alan_dict = {'Ankara': 125432,
                   'Istanbul': 89547,
                   'Izmir': 25784,
                   'Adana': 21548,
                   'Bursa': 56842}
alan = pd.Series(alan_dict)
alan

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
dtype: int64

In [37]:
alan_nufus_df = pd.DataFrame({'Nufus': nufus,
                       'Alan': alan})
alan_nufus_df

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035
Izmir      25784   6541025

In [38]:
type(alan_nufus_df)

pandas.core.frame.DataFrame

In [39]:
alan_nufus_df.index

Index([u'Adana', u'Ankara', u'Bursa', u'Istanbul', u'Izmir'], dtype='object')

In [40]:
alan_nufus_df.columns

Index([u'Alan', u'Nufus'], dtype='object')

In [41]:
alan_nufus_df["Alan"]

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [42]:
# pd.DataFrame Yapısı

pd.DataFrame(nufus, columns=['Nufus'])

             Nufus
Adana      3450478
Ankara     5750420
Bursa      1785634
Istanbul  15475035
Izmir      6541025

### İndeks  & Array işlemleri

In [43]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [44]:
'a' in data

True

In [45]:
data.keys()

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [46]:
data.items()

In [47]:
data.items

<bound method Series.iteritems of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [48]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [49]:
# yeni bir eleman ekleme
data["e"] = 1.25

In [50]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [51]:
# index değerini kullanarak dilimleme
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [52]:
# indeks numarası kullanarak dilimleme
data[0:2]

a    0.25
b    0.50
dtype: float64

### loc & iloc

In [53]:
data[1]

0.5

In [54]:
data[1:3]

b    0.50
c    0.75
dtype: float64

In [55]:
# loc indeks label'ı ile çalışır
data.loc["a"]

0.25

In [56]:
# iloc indeks sırası ile çalışır
data.iloc[1]

0.5

In [57]:
data.iloc[1:3]

b    0.50
c    0.75
dtype: float64

#### DF Sözlük yapısı

In [58]:
alan_nufus_df = pd.DataFrame({'Nufus': nufus,
                       'Alan': alan})
alan_nufus_df

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035
Izmir      25784   6541025

In [59]:
alan_nufus_df["Alan"]

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [60]:
alan_nufus_df.Alan

Adana        21548
Ankara      125432
Bursa        56842
Istanbul     89547
Izmir        25784
Name: Alan, dtype: int64

In [61]:
alan_nufus_df.Alan is alan_nufus_df['Alan']

True

In [62]:
alan_nufus_df['Yogunluk'] = alan_nufus_df['Nufus'] / alan_nufus_df['Alan']
alan_nufus_df

            Alan     Nufus    Yogunluk
Adana      21548   3450478  160.129850
Ankara    125432   5750420   45.844920
Bursa      56842   1785634   31.413990
Istanbul   89547  15475035  172.814667
Izmir      25784   6541025  253.685425

In [63]:
alan_nufus_df.shape

(5, 3)

In [64]:
alan_nufus_df.dtypes

Alan          int64
Nufus         int64
Yogunluk    float64
dtype: object

In [65]:
alan_nufus_df.columns

Index([u'Alan', u'Nufus', u'Yogunluk'], dtype='object')

In [66]:
alan_nufus_df.values

array([[  2.15480000e+04,   3.45047800e+06,   1.60129850e+02],
       [  1.25432000e+05,   5.75042000e+06,   4.58449200e+01],
       [  5.68420000e+04,   1.78563400e+06,   3.14139897e+01],
       [  8.95470000e+04,   1.54750350e+07,   1.72814667e+02],
       [  2.57840000e+04,   6.54102500e+06,   2.53685425e+02]])

In [67]:
alan_nufus_df.values[0]

array([  2.15480000e+04,   3.45047800e+06,   1.60129850e+02])

In [68]:
# satır sütün ile indeks
alan_nufus_df.iloc[:3, :2]

          Alan    Nufus
Adana    21548  3450478
Ankara  125432  5750420
Bursa    56842  1785634

In [69]:
alan_nufus_df.loc[:'Istanbul', :'Nufus']

            Alan     Nufus
Adana      21548   3450478
Ankara    125432   5750420
Bursa      56842   1785634
Istanbul   89547  15475035

In [89]:
# iloc ile doğrudan gözlemi seçme
alan_nufus_df["Nufus"].iloc[3]

15475035

In [70]:
# filtreleme
alan_nufus_df.loc[alan_nufus_df.Yogunluk > 100]

           Alan     Nufus    Yogunluk
Adana     21548   3450478  160.129850
Istanbul  89547  15475035  172.814667
Izmir     25784   6541025  253.685425

In [71]:
# degiskenleri seçerek filtreleme
alan_nufus_df.loc[alan_nufus_df.Yogunluk > 100, ['Nufus', 'Yogunluk']]

             Nufus    Yogunluk
Adana      3450478  160.129850
Istanbul  15475035  172.814667
Izmir      6541025  253.685425

In [72]:
alan_nufus_df.iloc[3,2]

172.81466715802875

In [73]:
alan_nufus_df.iloc[[1,2,4],[0,2]]

          Alan    Yogunluk
Ankara  125432   45.844920
Bursa    56842   31.413990
Izmir    25784  253.685425

#### DF Koşullar

In [74]:
alan_nufus_df[alan_nufus_df.Alan > 100000]

          Alan    Nufus  Yogunluk
Ankara  125432  5750420  45.84492

In [75]:
alan_nufus_df[alan_nufus_df["Alan"] > 100000]

          Alan    Nufus  Yogunluk
Ankara  125432  5750420  45.84492

In [78]:
alan_nufus_df[alan_nufus_df["Nufus"] <= alan_nufus_df["Alan"]]

Empty DataFrame
Columns: [Alan, Nufus, Yogunluk]
Index: []

In [77]:
alan_nufus_df[alan_nufus_df["Nufus"] == 1000]

Empty DataFrame
Columns: [Alan, Nufus, Yogunluk]
Index: []

#### CSV dosya okuma

In [ ]:
pd.read_csv?

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [ ]:
pd.read_csv("https://goo.gl/zZ4mie")

In [85]:
ulkeler = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [ ]:
# head ile ilk 5 gözlem
ulkeler.head()

In [ ]:
# tail ile son 5 gözlem
ulkeler.tail()

In [90]:
ulkeler.shape

(194, 2)

In [ ]:
ulkeler.describe()

In [84]:
# byte hesabı
# satır * sütün * 8 byte
print 194 * 2 *8 
print 194 * 2 *8 / 1024.0

3104
3.03125

In [86]:
ulkeler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
Country    194 non-null object
Region     194 non-null object
dtypes: object(2)
memory usage: 3.1+ KB

In [ ]:
# Tersini alma
ulkeler.T

In [ ]:
# axis 1
ulkeler.sort_index(axis=1, ascending=False)

In [ ]:
ulkeler.sort_index(axis=1, ascending=True)

In [ ]:
# axis 0
ulkeler.sort_index(axis=0, ascending=False)

In [ ]:
ulkeler.sort_index(axis=0, ascending=True)

In [ ]:
ulkeler.sort_values(by='Country')

In [ ]:
ulkeler["Country"]

In [ ]:
ulkeler.iloc[1]

#### Iris veri seti

In [87]:
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv")

In [ ]:
iris.head()

In [ ]:
iris.dtypes

In [ ]:
iris.describe()

In [ ]:
iris.describe(include=["object"])

In [ ]:
iris.describe(include="all")

In [ ]:
iris.sum()

In [ ]:
iris.sum(1)

In [ ]:
iris.mean()

In [ ]:
iris.mean(1)

In [ ]:
iris.std()

In [ ]:
iris.std(1)

##### Bunlar dışında;
```python
iris.count()
iris.mode()
iris.min()
iris.max()

```

In [ ]:
iris.columns

In [ ]:
iris.columns = ["SepalLength", "SepalWidth", "PetalLength", "PetalWidth", "Species"]

In [ ]:
iris.columns

In [ ]:
iris.head()

In [ ]:
iris.SepalLength.unique()

In [88]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

In [ ]:
iris.SepalLength.value_counts()

In [ ]:
iris.Species.value_counts()

#### Kayıp Gözlemler

In [26]:
diabet = pd.read_csv("https://raw.github.com/vincentarelbundock/Rdatasets/master/csv/MASS/Pima.te.csv")

In [27]:
diabet.head()

   Unnamed: 0  npreg  glu  bp  skin   bmi    ped  age type
0           1      6  148  72    35  33.6  0.627   50  Yes
1           2      1   85  66    29  26.6  0.351   31   No
2           3      1   89  66    23  28.1  0.167   21   No
3           4      3   78  50    32  31.0  0.248   26  Yes
4           5      2  197  70    45  30.5  0.158   53  Yes

In [28]:
diabet.drop(["Unnamed: 0"], axis=1)

     npreg  glu   bp  skin   bmi    ped  age type
0        6  148   72    35  33.6  0.627   50  Yes
1        1   85   66    29  26.6  0.351   31   No
2        1   89   66    23  28.1  0.167   21   No
3        3   78   50    32  31.0  0.248   26  Yes
4        2  197   70    45  30.5  0.158   53  Yes
5        5  166   72    19  25.8  0.587   51  Yes
6        0  118   84    47  45.8  0.551   31  Yes
7        1  103   30    38  43.3  0.183   33   No
8        3  126   88    41  39.3  0.704   27   No
9        9  119   80    35  29.0  0.263   29  Yes
10       1   97   66    15  23.2  0.487   22   No
11       5  109   75    26  36.0  0.546   60   No
12       3   88   58    11  24.8  0.267   22   No
13      10  122   78    31  27.6  0.512   45   No
14       4  103   60    33  24.0  0.966   33   No
15       9  102   76    37  32.9  0.665   46  Yes
16       2   90   68    42  38.2  0.503   27  Yes
17       4  111   72    47  37.1  1.390   56  Yes
18       3  180   64    25  34.0  0.271   26   No
19       7  106   92    18  22.7  0.235   48   No
20       9  171  110    24  45.4  0.721   54  Yes
21       0  180   66    39  42.0  1.893   25  Yes
22       2   71   70    27  28.0  0.586   22   No
23       1  103   80    11  19.4  0.491   22   No
24       1  101   50    15  24.2  0.526   26   No
25       5   88   66    21  24.4  0.342   30   No
26       7  150   66    42  34.7  0.718   42   No
27       1   73   50    10  23.0  0.248   21   No
28       0  105   64    41  41.5  0.173   22   No
29       5   99   74    27  29.0  0.203   32   No
..     ...  ...  ...   ...   ...    ...  ...  ...
302     10  129   62    36  41.2  0.441   38  Yes
303      0  134   58    20  26.4  0.352   21   No
304      7  187   50    33  33.9  0.826   34  Yes
305      3  173   78    39  33.8  0.970   31  Yes
306     10   94   72    18  23.1  0.595   56   No
307      1  108   60    46  35.5  0.415   24   No
308      5  117   86    30  39.1  0.251   42   No
309      1  116   78    29  36.1  0.496   25   No
310      0  141   84    26  32.4  0.433   22   No
311      2  174   88    37  44.5  0.646   24  Yes
312      2  106   56    27  29.0  0.426   22   No
313      0  126   86    27  27.4  0.515   21   No
314      8   65   72    23  32.0  0.600   42   No
315      2   99   60    17  36.6  0.453   21   No
316     11  120   80    37  42.3  0.785   48  Yes
317      3  102   44    20  30.8  0.400   26   No
318      1  109   58    18  28.5  0.219   22   No
319     13  153   88    37  40.6  1.174   39   No
320     12  100   84    33  30.0  0.488   46   No
321      1  147   94    41  49.3  0.358   27  Yes
322      3  187   70    22  36.4  0.408   36  Yes
323      1  121   78    39  39.0  0.261   28   No
324      3  108   62    24  26.0  0.223   25   No
325      0  181   88    44  43.3  0.222   26  Yes
326      1  128   88    39  36.5  1.057   37  Yes
327      2   88   58    26  28.4  0.766   22   No
328      9  170   74    31  44.0  0.403   43  Yes
329     10  101   76    48  32.9  0.171   63   No
330      5  121   72    23  26.2  0.245   30   No
331      1   93   70    31  30.4  0.315   23   No

[332 rows x 8 columns]

#### Pivot

In [ ]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index)

In [ ]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index).T

In [ ]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index).T.fillna(0)

In [ ]:
pd.pivot(columns=diabet.type, values=diabet.bmi, index=diabet.index).T.fillna(0).sum(1)

#### Group By

In [ ]:
diabet.groupby(diabet.type).groups

In [ ]:
diabet.groupby(diabet.type)["age"].mean()

In [ ]:
# aggregation fonksiyonları
diabet.groupby("age").agg(sum)

In [ ]:
diabet.groupby("type").agg(sum)

In [ ]:
import numpy as np
diabet.groupby("type").agg(np.sum)

In [ ]:
diabet.groupby("type").agg([np.sum, np.mean, np.median, np.std])

In [ ]:
diabet.groupby("type").describe().T

In [ ]:
diabet.groupby("type").agg([np.sum, np.mean, np.median, np.std]).T

In [ ]:
diabet.groupby("type")["age"].agg([np.sum, np.mean, np.median, np.std]).T

In [ ]:
# dönüşüm
diabet.groupby(["age"])["npreg"].transform(max)

In [ ]:
# apply
diabet.groupby(["age"])["npreg"].apply(np.max)

In [ ]:
diabet.groupby(["age", "npreg"]).apply(np.max)

In [ ]:
def yas35mi(x):
    return x > 35

In [ ]:
diabet["age"].apply(yas35mi)

In [ ]:
diabet["age"].apply(lambda x: x > 35)

In [ ]:
diabet["age"].transform(yas35mi)

In [ ]:
logic = diabet["age"].apply(lambda x: x > 35)

In [ ]:
logic.value_counts()

In [ ]:
diabet[logic]

In [ ]:
diabet[logic == False]

In [ ]:
# filtreleme
diabet.groupby("age").filter(lambda x: len(x) > 35)

#### Sultangazi Veri seti

In [ ]:
sg = pd.read_csv("Sultangazi.csv", encoding="iso-8859-9", sep=";")

In [ ]:
sg.head()

In [ ]:
sg.columns

In [ ]:
for i in sg.columns:
    print i

In [ ]:
sg.drop("SiraNo", axis=1)

In [ ]:
sg.head()

In [ ]:
sg.drop("SiraNo", axis=1, inplace=True)

In [ ]:
sg.head()

In [ ]:
sg.groupby("SayimYapanKisi")[["Otomobil", "Kamyonet", "Taksi", "TMinibus", "Servis", "IETT-Halk"]].sum()

In [ ]:
sg.groupby("SayimYapanKisi").sum()

In [ ]:
%matplotlib inline

In [ ]:
%matplotlib nbagg

In [ ]:
help(sg.plot())

In [ ]:
dir(sg.plot)

In [ ]:
sg.groupby("SayimYapanKisi")[["Otomobil"]].sum().plot()

In [ ]:
sg.groupby("SayimYapanKisi")[["Otomobil", "Kamyonet", "Taksi", "TMinibus", "Servis", "IETT-Halk"]].sum().plot()

In [ ]:
sg.groupby("SayimYapanKisi")[["Otomobil", "Kamyonet", "Taksi", "TMinibus", "Servis", "IETT-Halk"]].sum().plot(kind="barh")

Nelerden bahsedilmedi?

Zaman serileri <br>
Merge, join, and concatenate işlemleri